* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D2D50;
}

.figure-1 {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #00FFF0;
    box-shadow: 0px 0px 40px 4px #00FFF0;
}

.figure-2 {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 300px;
    height: 300px;
    border: 4px solid #FFEF78;
    box-shadow: 0px 0px 40px 4px #FFEF78;
}

.figure-3 {
    position: absolute;
    top: 8%;
    right: 34%;
    width: 150px;
    height: 300px;
    border: 4px solid #FF0000;
    box-shadow: 0px 0px 40px 4px #FF0000;
}

.figure-4 {
    position: absolute;
    top: 65%;
    right: 70%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #AA2EE6;
    box-shadow: 0px 0px 40px 4px #AA2EE6;
}

.figure-5 {
    position: absolute;
    bottom: 25%;
    right: 40%;
    width: 400px;
    height: 500px;
    border: 4px solid #FFE3FE;
    box-shadow: 0px 0px 40px 4px #FFE3FE;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFF;
    border-radius: 0 30px 0 30px;
    backdrop-filter: blur(4px);
}

.password-length {
    margin-bottom: 20px;    
    width: 90%;
    background: none;
    border: 1px solid #FFF;
    color: #FFF600;
    font-size: 24px;
}

.password-length::placeholder {
    color: #FFF600;
    opacity: .7;
}

.password {
    margin-bottom: 20px;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    color: #FF0000;
    font-size: 24px;
    font-weight: bold;
    
}

.button {
    padding: 5px 10px;
    margin: 0 10px;
    background: none;
    border-radius: 0px 10px 0px 10px;
    font-size: 24px;
    text-transform: uppercase;
    transition: all ease-in-out .3s;    
}

.button__copy-to-clipboard {
    border: 1px solid #AA2EE6;
    color: #AA2EE6;
}

.button__copy-to-clipboard:hover {
    box-shadow: 0px 0px 40px 4px #AA2EE6;
    background-color: #AA2EE6;
    color: #FFF;
}

.button__generate {
    border: 1px solid #FF0000;
    color: #FF0000;
}

.button__generate:hover {
    box-shadow: 0px 0px 40px 4px #FF0000;
    background-color: #FF0000;
    color: #FFF;
}